/exports/**/*.txt
/exports/**/*.pkl
/exports/raw/*
/models/**/*.mph
/models/**/*.mph.lock
/models/**/*.mph.bk
/build
/dist/**/*.exe
/dist/**/*.spec
config/cell_local.yaml
.vscode
_internal
*.exe
*.spec
__pycache__
play.ipynb
**/*ckpt**/
conda
*.ps1
