/exports/*
!/exports/slit-9-1/params_*.csv
/models/**/*.mph
/models/**/*.mph.lock
/models/**/*.mph.bk
/build
/dist/**/*.exe
/dist/**/*.spec
config/cell_local.yaml
config/cell_test.yaml
.vscode
_internal
*.exe
*.spec
__pycache__
play.ipynb
**/*ckpt**/
conda
*.ps1
/exp1
sampled.zip
/field_ckpt
result.json
.stfolder
.stignore
notebooks/plots
